:root {
    --primary-title-color: #ffffff;
    --secondary-title-color: #212121; 
    --primery-text-color: #757575;
    --acent-color: #2196F3;
}


body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%; height: auto;
}
*, ::after, ::before
/*----------cursor-------------*/

.cursor {
    cursor: pointer;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*----------HEADER-------------*/

.header {
    padding-top: 32px;
   border: 1px #ECECEC;
}
.header-container {
 display: flex;
    align-items: center;
    padding-bottom: 25px;
     border-bottom: 1px solid #ECECEC;
}
.header-logo {
font-family: Raleway, sans-serif;

font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #2196F3;
margin-right: 95px;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
   display: flex ;
  
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-contact-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header-contact-item:not(:last-child) {
    margin-right: 50px;
}

.logo-span {
    color: var(--secondary-title-color);
}

.header-link {
 font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-title-color);
position: relative;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    
    


.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus
 {
    color: var(--acent-color);
    fill: var(--acent-color);
}
.header-link:hover, .active-button {
    color: var(--acent-color);
}


.header-contact-link {
 font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primery-text-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact {
    display: block;
}
.mail-icon {
    width: 16px;
    height: 12px;
    color: #757575;
}

.header-contact-item:hover,
.header-contact-item:focus {
    color: var(--acent-color);
}


.phone-icon {
    width: 16px;
    height: 12px;
   color: #757575; 
}

.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--acent-color);
    display: block;
    bottom: -32px;
}





/*----------HERO-------------*/

.hero {
 max-width: 1600px;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),  
 url(../img/main.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
padding: 200px 0px;
}
    

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-title-color);
width: 696px;
margin: 0 auto;
margin-bottom: 30px;
}
.hero-container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}



.btn-hero {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--primary-title-color);
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 32px;
cursor: pointer;
}

  



/*----------benefits-------------*/
.benefits {
    padding-top: 94px;
    padding-bottom: 47px;
}

.benefits-title {
 font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
margin-bottom: 10px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}
.benefits-item {
   margin-right: 30px;
}

.benefits-item:nth-child(4n) {
    margin-right: 0;
}


.benefits-text {
    width: 270px;
    height: 75px;
}

.benefits-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--primery-text-color);
}

.benefits-picture {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}


.benefits-link {
     width: 270px;
     height: 120px;
     display: flex;
     align-items: center;
     justify-content: center;
   
    
    
}


.benefits-icon {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: block;
}



.benefits-picture
{
    margin-bottom: 30px;
}

/*----------work-------------*/

.work {
    padding-top: 47px;
    padding-bottom: 94px;
}

.work-title {
 font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--secondary-title-color);
text-align: center;
margin-bottom: 50px;
}

.work-list {
 display: flex;
}
    
.work-item {
 flex-basis: calc(100% / 3 -30px);
 margin-left: 30px;
 position: relative;
}
.work-item:nth-child(-n + 1) {
    margin-left: 0;
}
.work-text {
font-family: Roboto;
font-style: 700;
Font size: 14px;
line-height: 1.14;
text-align: center;
Letter spacing: 3%;
color: #ffffff;
padding-top: 27px;
padding-bottom: 27px;
background-color: rgba(47, 48, 58, 0.8);
position: absolute;
width: 100%;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
}



/*----------team-------------*/

.team {
    background-color:#F5F4FA;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--secondary-title-color);
text-align: center;
margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-item {
flex-basis: calc(100% / 4 -30px);
 margin-left: 30px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
background-color: #FFFFFF;

}
.team-item:nth-child(-n + 1) {
    margin-left: 0;
}


.team-name {
 font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: var(--secondary-title-color);
margin-bottom: 10px;
text-align: center;
}

.team-info {
    padding-top: 30px;
}

.team-text {
font-size: 16px;
line-height: 1.19;
color: var(--primery-text-color);
margin-bottom: 16px;
text-align: center;
}
.social-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.social-item {
    width: 44px;
    height: 44px;
 
}
.social-item  + .social-item {
    margin-left: 10px;
}

.social-link {
     width: 44px;
     height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, 
.social-link:focus {
    background-color:#2196F3;
}

.social-link:hover .social-icon, 
.social-link:focus .social-icon {
    fill: #FFFFFF;
}






/*----------Client-------------*/



.client-list {
    display: flex;
    justify-content: center;
    
}

.client-item {
flex-basis: calc(100% / 6 -30px);
 margin-left: 30px;
 align-items: center;
 background-color: #FFFFFF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:nth-child(-n + 1) {
    margin-left: 0;
}




.client-link {
      width: 170px;
    height: 92px;
    padding: 16px 32px;
    display: flex;align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     border: 1px solid #AFB1B8;
border-radius: 4px;
}


.client-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    color: rgba(175, 177, 184, 1);
    

}


.client-link:hover,
.client-link:focus {
    
   cursor: pointer;
    border: 1px Solid #2196F3;
    
}


.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: #2196F3;
}




/*----------footer-------------*/

.footer {
   background-color: #2F303A;
     padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
     display: block;
    flex-direction: column;
    justify-content: flex-start; 
}

.footer-block {
    display: flex;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}


.footer-address-link {
font-style: normal;
 font-size: 14px;
line-height: 1.71;
color: var(--primary-title-color);
}
.footer-span {
    color: #ffffff;
}
.footer-contact-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
color:  rgba(255, 255, 255, 0.6);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-contact-link:hover,
.footer-contact-link:focus {
     color: var(--acent-color);
     
}
.right-title {
Font family: Roboto;
Font style: 700;
Font size: 14px;
Line height: 1.14;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-social {
    display: flex;
}
.footer-social  + .footer-social {
    margin-left: 10px;
}
.right {
    margin-left: 70px;
}
.footer-social-list {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon {
   fill: #FFFFFF;
}




/*----------about-------------*/



.about-btn {
font-weight: 500px;
font-size: 16px;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
padding: 6px 22px;
border: none;
 border-radius: 4px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-button-list {
display: flex;
justify-content:center;
margin-bottom: 50px;

}

.about-button-item:not(:last-child){
    margin-right: 8px;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;

}
.about-link {
    display: block;
}


.about-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(238, 238, 238, 1);
}

.about-item:hover .about-img-text {
    transform: translateY(0);
}


.about-item:nth-child(3n) {
    margin-right: 0;
}


.about-item:nth-child(n + 7) {
margin-bottom: 0;
}


.about-btn:hover,
.about-btn:focus {
color: var(--primary-title-color);
background-color: #2196F3;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
cursor: pointer;

}

.about-title {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--secondary-title-color);
margin-bottom: 4px;
}
.about-text {
font-size: 16px;
line-height: 1.87;
color: var(--primery-text-color);
}
.about-title-text {
   padding: 20px 24px;
}
.about-link:hover, 
.about-link:focus  {
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}


.about-img-text {
 Font family: Roboto;
Font style: Regular;
Font size: 18px;
Line height: 1.33;
Align: Left;
Vertical align: Top;
Letter spacing: 3%;
height: 100%;
padding-top: 64px;
padding-right: 24px;
padding-left: 24px;
background-color: rgba(33, 150, 243, 0.9);
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
transition: transform 250ms linear;
color: #FFFFFF;

}
.about-top-wrapper {
    position: relative;
    overflow: hidden;
}

.img-back-down {
    border: none;
}


/*----------modalka-------------*/

.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent ;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.close-img-btn {
    width: 10px;
    height: 10px;
    fill: #000000;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(2);